:root {
    --global-radius: 14px;
    --small-radius: calc(var(--global-radius) / 4);

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px 14px;
    background-color: hsl(214, 20%, 90%);
}

h1,
h2,
h3 {
    margin: 0px;


}

h1 {
    font-size: 2em;
    color: hsl(0, 0%, 8%);
    padding: 5px;
    margin: 5px 0px;
    border-bottom-style: groove;
    border-bottom-color: hsl(0, 0%, 100%);
    border-bottom-width: 1px;
    text-shadow:
        0px 0.1em 0.2em hsla(0, 0%, 0%, 0.5),
        0px -0.1em 0.2em hsl(0, 0%, 100%);
}

h2 {
    font-size: 1.5em;
    color: hsl(0, 0%, 14%);
    background: linear-gradient(hsla(0, 0%, 100%, 0.88), transparent 80%, hsla(0, 0%, 14%, 0.14));
    border-radius: var(--small-radius) var(--small-radius) 0px 0px;
    padding: 5px;
    border-bottom-style: groove;
    border-bottom-color: hsla(0, 0%, 100%, 0.75);
    border-bottom-width: 1px;
    text-shadow:
        0px 0.075em 0.15em hsla(0, 0%, 0%, 0.5),
        0px -0.075em 0.15em hsl(0, 0%, 100%);


}

h3 {
    font-size: 1.17em;
    color: hsl(0, 0%, 31.3%);
    background-color: hsla(180, 0%, 100%, 0.4);
    padding: 5px;
    border-radius: var(--global-radius) var(--global-radius) 0px 0px;
    border-bottom-style: groove;
    border-bottom-color: hsla(0, 0%, 100%, 0.5);
    border-bottom-width: 1px;
    text-shadow:
        0px 0.085em 0.17em hsla(0, 0%, 0%, 0.3),
        0px -0.085em 0.17em hsl(0, 0%, 100%);
}

blockquote {
    margin: 14px 0px;
    background-color: hsla(0, 0%, 100%, 0.75);
    border: 1px solid hsla(0, 0%, 100%, 1);
    border-style: groove;
    border-radius: var(--small-radius) var(--global-radius) var(--global-radius) var(--small-radius);
    border-left: var(--small-radius) solid hsla(22, 80%, 40%, 1);
    box-shadow:
        0px 8px 14px hsla(0, 0%, 0%, 0.5),
        0px -8px 14px hsl(0, 0%, 100%);
}

p {
    margin: 8px 14px;
}

strong {
    font-size: 1.05em;
    color: hsl(0, 0%, 40%);
}

a {
    color: hsl(14, 100%, 45%);
}

a:hover {
    color: hsl(20, 100%, 50%);
}

a:visited {
    color: hsl(14, 50%, 40%);
}

ul {
    padding: 0px 1.25em;
    margin: 4px 15px;
}

@media print {
    body {
        background-color: white;
        font-size: 12px;
        margin: 0px;
    }

    h1 {
        break-before: always;
    }

    blockquote,
    ul,
    ol {
        break-inside: avoid;
    }

    blockquote {
        box-shadow: none;
        border-left: 1px solid hsla(0, 0%, 14%, 1);
        border-radius: 3px;
    }

    a {
        color: hsl(0, 0%, 25%);
    }

    a:visited {
        color: hsl(0, 00%, 25%);
    }
}