body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px;
    background-color: hsl(45, 25%, 88%);
}

h1,
h2,
h3 {
    color: hsl(0, 0%, 14%);
    padding: 0.5em 0em;
    margin: 1px 0px;
    border-bottom-style: groove;
    border-bottom-color: hsl(0, 0%, 100%);
    border-bottom-width: 1px;
}

blockquote {
    margin: 10px 10px;
    padding: 0.25em 14px;
    background-color: hsla(0, 0%, 95%, 0.5);
    border: 1.5px solid rgb(255, 255, 255);
    border-style: groove;
    border-radius: 5px;
    border-left: 5px solid hsl(30, 100%, 50%);
    box-shadow:  9px 9px 16px hsla(0, 0%, 10%, 0.25),
                 -9px -9px 16px hsla(0, 0%, 100%, 0.25);
}

ul,
ol {
    margin-left: 8px;
}

@media print {
    box-shadow: none;
}